Source: karaage-common
Section: python
Priority: optional
Maintainer: Brian May <bam@debian.org>
Build-Depends: debhelper (>=7.0.0), python (>= 2.6.6-3), cdbs (>= 0.4.90)
Standards-Version: 3.9.3

Package: karaage-common
Architecture: all
Homepage: http://code.vpac.org/trac/karaage/
Depends: ${misc:Depends}, ${python:Depends}
Description: Common files for Karaage
 Karaage is an open source collection of Django apps to manage a clusters.
 This package contains the common files needed by karaage-admin and
 karaage-registration.
