Source: karaage-common
Section: python
Priority: optional
Maintainer: Sam Morrison <sam@vpac.org>
Build-Depends: debhelper (>=7.0.0), python (>= 2.4), python-support (>= 0.6), cdbs (>= 0.4.49)
Standards-Version: 3.8.4

Package: karaage-common
Architecture: all
Homepage: http://trac.vpac.org/karaage/
Depends: ${misc:Depends}, ${python:Depends}
Description: Common files for Karaage
 Karaage is an open source collection of Django apps to manage a clusters.
 This package contains the common files needed by karaage-admin and
 karaage-registration.
